<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier l'Intervention - AccordEnergie</title>
    <!-- Lien vers votre CSS -->
</head>
<body>
    <h1>Modifier l'Intervention</h1>
    <form action="edit_intervention.php?id={{ intervention.intervention_id }}" method="post">
        <label for="title">Titre:</label>
        <input type="text" id="title" name="title" value="{{ intervention.title }}" required>
        
        <label for="description">Description:</label>
        <textarea id="description" name="description" required>{{ intervention.description }}</textarea>
        <label for="status">Statut:</label>
<select id="status" name="status" required>
    {% for status in statuses %}
        <option value="{{ status.ids }}">{{ status.status }}</option>
    {% endfor %}
</select>

      <!-- Dropdown pour sélectionner le niveau d'urgence -->
<label for="urgency_level">Niveau d'urgence :</label>
<select id="urgency_level" name="urgency_level" required>
    {% for urgence in urgences %}
        <!-- L'option est sélectionnée si elle correspond à l'urgence de l'intervention -->
        <option value="{{ urgence.idu }}" {% if urgence.idu == intervention.idu %}selected{% endif %}>
            {{ urgence.urgency_level }}
        </option>
    {% endfor %}
</select>

      <label for="date_planned">Date Planifiée:</label>
     <input type="datetime-local" id="date_planned" name="date_planned" value="{{ intervention.date_planned|date('Y-m-d\\TH:i') }}" >

        <button type="submit">Mettre à jour</button>
    </form>
    {% if message %}
    <div>{{ message }}</div>
{% endif %}

</body>
</html>
