<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau de Bord Intervenant - AccordEnergie</title>
    <link rel="stylesheet"  href="/css/admin_dashboard.css">
</head>
<body>
    <h1>Tableau de Bord Intervenant</h1>
     <div class="navigation">
      <button id="btnGestionInterventions">Gestion des Interventions</button>
    
    </div>
    <section id="gestionInterventions">
        <h2>Interventions Assignées</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Urgence</th>
                    <th>Date Planifiée</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for intervention in interventions %}
                <tr>
                    <td>{{ intervention.title }}</td>
                    <td>{{ intervention.description }}</td>
                    <td>{{ intervention.status }}</td>
                    <td>{{ intervention.urgency_level }}</td>
                    <td>{{ intervention.date_planned }}</td>
                    <td>
                          <a href="../classes/edit_intervention.php?id={{ intervention.intervention_id }}">Modifier</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <div id="update-section" style="display:none;">
        <!-- Content for update section -->
    </div>

      <script>
        document.addEventListener("DOMContentLoaded", function() {
            var btnGestionInterventions = document.getElementById('btnGestionInterventions');
         
            var sectionGestionInterventions = document.getElementById('gestionInterventions');
           

            btnGestionInterventions.addEventListener('click', function() {
                sectionGestionInterventions.style.display = 'block';
                sectionGestionStatus.style.display = 'none';
            });

            btnGestionStatus.addEventListener('click', function() {
                sectionGestionInterventions.style.display = 'none';
           
            });
        });
    </script>
</body>
</html>
